.refresh {
    background-color: cornflowerblue;
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    border-color: cornflowerblue;
}

.refresh:hover {
    box-shadow: 10px 10px 10px black;
}

.teams {
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-auto-rows:  minmax(200px, max-content);
}

.team__logo {
    max-width: 100px;
    max-height: 100px;
}

.team__card {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.team__card_favorite {
    background: red;
}

.team__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-top: 10px;
}
.team__buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team__add_to_favourite, .team__remove_from_favourite{
    background-color: whitesmoke;
    border-radius: 15px;
    border-color: gray;
}

.router-navigation-list {
    list-style: none;
    display: flex;
    padding-left: 15px;
}

.router-navigation-list__item {
    padding: 10px;
}